.chats {
  max-width: 700px;
  height: 400px;
  overflow-y: auto;
  padding: 2rem 1rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.userDiv {
  display: flex;
  justify-content: flex-end;
  font-size: 0.9rem;
}

.gptDiv {
  text-align: left;
  font-size: 0.9rem;
}

.userMessage {
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 14px;
  margin-left: 15rem;
  max-width: 500px;
  width: fit-content;
}

pre {
  background: #22272e;
  padding: 16px;
  margin: 12px 0;
  border-radius: 14px;
  overflow-x: auto;
  white-space: pre-wrap;
}

.hljs {
  code {
    background: #22272e;
    color: #ffb86c;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 0.95em;
  }
  background: inherit;
  border-radius: 14px !important;
  font-size: 1rem;
}
