.chat-window {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span {
  margin: 1rem 2rem;
}

.user-icon {
  margin: 1rem 2rem;
}

.user-icon-logo {
  background-color: #339cff;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.chat-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-input-box {
  width: 100%;
  position: relative;
  max-width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 30px;
  font-size: 1rem;
  border-radius: 18px;
  box-shadow:
    rgba(0, 0, 0, 0.05) 0 54px 55px,
    rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px,
    rgba(0, 0, 0, 0.05) 0 12px 12px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
  outline: none;
}

#submit {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 20px;
  position: absolute;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit i:hover {
  color: #fff;
}

.gpt-warning {
  font-size: 0.8rem;
  padding: 0.5rem;
  color: #b4b4b4;
}
